.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.container{
  margin-top: 25vh;
}

.highscore {
  position: absolute;
  right: 5px;
  padding: 2px;
  width:200px;
}

.shareButtons {
  position: fixed;
  top: 30%;
  width: 75px;
}